<!DOCTYPE html>
<html>
  <head>
    <title>
      Sleep Posture Monitoring System to Identify Risky Positions of Pressure
      Ulcers
    </title>
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles_draw.css') }}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='draw.js') }}"
    ></script>
  </head>
  <header>
    Sleep Posture Monitoring System to Identify Risky Positions of Pressure
    Ulcers
  </header>

  <body>
    <img src="/static/s0.png" />
  </body>
</html>
